[submodule "libraries/NeoPixelBus"]
	path = libraries/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus.git
[submodule "libraries/IotWebConf"]
	path = libraries/IotWebConf
	url = git@github.com:prampec/IotWebConf.git
